/* styles/404.module.css */
.container {
    width: 80vw;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
  }

  .links {
    margin-top: 30px;
    text-decoration: none;
  }
  .link {
    margin: 10px;
    color: blue;
    text-decoration: underline;
  }
  .link:hover {
    color: red;
  }
